.subcomments-list {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 0.3s, max-height 0.3s;

	&_visible {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		opacity: 1;
		max-height: 100%;
	}

	&-item {
		padding-top: 0.5rem;
		&-text {
			background-color: #333;
		}
	}
}
